.notification-list {
    .notification-item {
        position: relative;
        display: block;
        cursor: pointer;
        background-color: transparent;
        border: solid 1px $light-gray;
        &:hover {
            background-color: $light-pink;
        }
        &.unread {
            background-color: $light-pink;
        }

        .body-container {
            padding-left: 0px;
            .title {
                color: darker($pink);
                font-weight: bold;
            }
        }

        .icon-container {
            display: flex;
            align-items: center;
            .icon {
                width: 30px; 
                height: 30px;
                margin: 0 auto;
                display: block;
            }
        }
        
    }
}