/public/js
/public/*.js
/public/css
/public/agreements
/node_modules

/public/mix-manifest.json
/public/hot
/public/storage
/storage/*.key
/storage/documents
/storage/attachments

/storage/public
/storage/temporary
/vendor
.env
.env.prod
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json
laravel-echo-server.lock
