// Body
$body-bg: #F2F2F2;

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

// Typography
$font-family-sans-serif:  var( --e-global-typography-text-font-family ), Sans-serif; // 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #579ABE;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #FCE2E3;
$red: #C23B23;
$orange: #F39A27;
$yellow: #fafcc2;
$green: #03C03C;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-gray: #F2F2F2;
$white: white;
$gray: #808080;
$black: #221E20;

// 8, 16, 24, 32, 48, 64, 95
$font-xsm: 8px;
$font-sm: 12px;
$font-rg: 16px;
$font-lg: 24px;
$font-xlg: 32px;

