//alignments
.center {
    &-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &-text {
        text-align: center;
    }
}

.right {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    text-align: right !important;
}

.form-control {
    &:focus {
        box-shadow: none;
    }
}

.alert {
    background-color: white;
    border-radius: 0px;
    border-left-width: 10px;
    &-danger {
        border-color: $red;
    }
}