#page-content {
    padding-top: $headerHeight + 10;
    margin: 15px;

    > .card {
        background: $white; 
        min-height: 50vh;
        box-shadow: $box-shadow;
        
        > .card-body{
            padding: 0px;
            > .card-header {
                background: transparent;
                border-bottom: solid 2px $light-gray;
            }
        }
    }
}