form {
    .form-group {
        input, textarea  {
            border-color: $pink;

            &:focus {
                border-width: 2px;
                border-color: $pink;
            }
        }
    }
}