.profile-card {
    min-height: 30vh;

    > .card-body {
        >.card-header {
            align-items: center;
            display: flex;
        }
    }
}

.profile-card  + .profile-card {
    margin-top: 10px;
}